---
import { getTranslations } from '../../i18n/utils';

const lang = 'zh';
const t = getTranslations(lang);
---
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t('site.title')}</title>
	</head>
	<body>
		<nav>
			<a href="/zh/">{t('nav.blog')}</a>
			<a href="/zh/">{t('nav.studio')}</a>
            <a href="/">English</a>
		</nav>
		<h1>{t('hero.title')}</h1>
        <p>{t('hero.subtitle')}</p>
	</body>
</html>
