---
interface Props {
  label: string;
  title: string;
  description: string;
}

const { label, title, description } = Astro.props;
---
<div class="sdg-card card-base outline">
  <span class="label label-text">{label}</span>
  <h3>{title}</h3>
  <p class="scroll-reveal">{description}</p>
</div>

<style>
  .sdg-card {
    border-radius: 0;
  }

  .label {
    color: var(--color-grey-600);
  }

  .sdg-card h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-black);
    margin: 0;
  }

  .sdg-card p {
    color: var(--color-grey-600);
    line-height: 1.6;
    margin: 0;
  }
</style>
