---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ParticleAnimation from '../components/ParticleAnimation.astro';
import { getTranslations } from '../i18n/utils';

const lang = 'en';
const t = getTranslations(lang);
---
<Layout title={t('site.title')} lang={lang}>
	<main class="grid-container" style="padding-bottom: 4rem;">
        <div class="grid-item" style="display: flex; flex-direction: column; gap: 4rem;">
            <Hero lang={lang} />
            <ParticleAnimation />
        </div>
	</main>
</Layout>
